{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Bienvenido</title>
</head>
<body>
  <nav>
    <ul>
        <li><a href="">Inicio</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'tasks:salir' %}">Salir</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Ingresa</a></li>
        {% endif %}
        <li><a href="{% url 'tasks:purchase_vegetable' %}">Facturas</a></li>
        <li><a href="{% url 'tasks:task_list' %}">Inventario</a></li>
    </ul>
</nav>
<div class="separation"></div>
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>

  <div class="text_container">
  <p class="text_welcome">Bienvenido</p>
  <p class="text_index">Comienza a organizar tu inventario</p>
  <p class="text_index">y genera tus propias facturas</p>
</div>
</body>
</html>